.authform
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
    %h3.sign-in-title Registrar-se
    = devise_error_messages!
    .form-group
      = f.label 'Nome'
      = f.text_field :name, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label 'Senha'
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label 'Confirme a senha'
      = f.password_field :password_confirmation, class: 'form-control'
    = f.submit 'Registrar-se', :class => 'button right'
