.container
    %div{:class => "panel-group"}
        %div{:class => "panel panel-primary"}
            %div{:class => "panel-heading"} 
                Proximas 10 Reservas
            %div{:class => "panel-body"}
                %table{:class => "table table-striped table-list table-hover"}
                    %thead
                        %tr
                            %th Sala
                            %th Autor da Reserva
                            %th Data/Hora da Reserva
                            %th Link da Reserva no Google Calendar
                    %tbody
                        %tr
                            - @reservas.items.each do |reserva|
                                %td= reserva.location
                                %td= /Reserva para: (.*)$/.match(reserva.description)[1]
                                %td #{reserva.start.date_time.strftime("%d/%m/%Y às %H:%M")} a #{reserva.end.date_time.strftime("%d/%m/%Y às %H:%M")}
                                %td= link_to('Ver reserva no Google Calendar',reserva.html_link)

