= form_for @recurso do |f|
  - if @recurso.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recurso.errors.count, "error")} prohibited this recurso from being saved:"
      %ul
        - @recurso.errors.full_messages.each do |msg|
          %li= msg


  .field{:style => "padding: 5px 0; padding-top: 40px"}
    .row
      .col-md-1
        = f.label :sala
      .col-md-9
        = collection_select(:recurso, :sala_id, Sala.all, :id, :nome)
  .field{:style => "padding: 5px 0;"}
    .row
      .col-md-1
        = f.label :nome
      .col-md-9 
        = f.text_field :nome
  .field{:style => "padding: 5px 0;"}
    .row
      .col-md-1
        = f.label :quantidade
      .col-md-9  
        = f.number_field :qtd
  .actions{:style => "margin: auto; width: 95%; padding: 30px;"}
    = f.submit 'Cadastrar'
    = button_to "Voltar", recursos_path
    //= link_to 'Voltar', recursos_path
    