%h1 Recursos

- if @recursos.empty?
  %center Nenhum recurso cadastrado

- else

  %table
    %thead
      %tr
        %th Sala
        %th Nome
        %th Quantidade
        %th
        %th
        %th
    
    %tbody
      - @recursos.each do |recurso|
        %tr
          %td= recurso.sala.nome
          %td= recurso.nome
          %td= recurso.qtd
          %td= link_to 'Detalhes', recurso
          %td= link_to 'Editar', edit_recurso_path(recurso)
          %td= link_to 'Remover', recurso, :method => :delete, :data => { :confirm => 'Você tem certeza que deseja remover esse recurso?' }

%br

= link_to 'Cadastrar recurso', new_recurso_path
