= form_for @sala do |f|
  - if @sala.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sala.errors.count, "error")} prohibited this sala from being saved:"
      %ul
        - @sala.errors.full_messages.each do |msg|
          %li= msg


  .field{:style => "padding: 5px 0; padding-top: 40px"}
    .row
      .col-md-1
        = f.label :nome
      .col-md-9
        = f.text_field :nome, :required => true
  .field{:style => "padding: 5px 0;"}
    .row
      .col-md-1
        = f.label :lugares
      .col-md-9
        = f.number_field :qtd_lugares, :required => true, :min => "0"
  .field{:style => "padding: 5px 0;"}
    .row
      .col-md-1
        = f.label :disponivel
      .col-md-9
        = f.check_box :disponivel, :required => true
  .actions{:style => "margin: auto; width: 95%; heigh: 30%; padding: 30px;"}
    - if can? :create, @sala
      = f.submit 'Cadastrar'
      = link_to 'Voltar', salas_path
      //= button_to 'Voltar', '/salas'
