.container
    %div{:class => "panel-group", :style => "margin-left:-0.35cm"}
        %div{:class => "panel panel-primary"}
            %div{:class => "panel-heading"} 
                .row
                    .col.col-xs-6
                        %h3.panel-title Salas
                    .col.col-xs-6.text-right
                        = button_to new_sala_path, {:method => :get, class: 'btn btn-sm btn-default', :type => "button"} do
                            %span{:class => 'glyphicon glyphicon-plus'}
                            Criar nova
            %div{:class => "panel-body table-responsive"}
                %table{:class => "table table-striped table-list table-hover", :name => 'salas'}
                    %thead
                        %th Nome 
                        %th Numero de lugares
                        %th Disponível
                        %th 
                            %span{:class => 'glyphicon glyphicon-cog', :align => "center"}   
                    %tbody
                        - @salas.each do |sala|
                            %tr
                                %col{:width => '150'}
                                %td= sala.nome
                                %td= sala.qtd_lugares
                                %td= sala.disponivel
                                %td
                                    %div{:class => 'btn-group'}
                                        = link_to sala,{:class => 'btn btn-default', :type => 'button', :method => :get} do
                                            %span{:class => 'glyphicon glyphicon-eye-open'}
                                        = link_to edit_sala_path(sala),{:class => 'btn btn-default', :type => 'button',:method => :get} do
                                            %span{:class => 'glyphicon glyphicon-pencil'} 
                                        = link_to sala,{:method => :delete, :class => 'btn btn-danger', :type => 'button'} do
                                            %span{:class => 'glyphicon glyphicon-trash'}    
                        %end

