//%p#notice= notice

%p.row		
  %b.col-md-1 Nome:
  = @sala.nome
%p.row		
  %b.col-md-1 Lugares:
  = @sala.qtd_lugares
%p.row		
  %b.col-md-1 Disponivel:
  = @sala.disponivel

= link_to 'Editar', edit_sala_path(@sala)
\|
= link_to 'Voltar', salas_path
