-# Rails flash messages styled for Bootstrap 4.0
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", :role  => "alert"}
      - if name.to_s == 'notice'
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        = content_tag :div, content_tag(:span, " " + msg), :id => "flash_#{name}", class: "glyphicon glyphicon-check"
      - else
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        = content_tag :div," " + msg, :id => "flash_#{name}", class: "glyphicon glyphicon-exclamation-sign"
        

