-# navigation styled for Bootstrap 3.0
.container
  %nav.navbar.navbar-primary
    = link_to image_tag("logo2.png"), root_path, class: 'navbar-brand', style: 'background-color:#ffffff'
    %ul.nav.navbar-nav.clearfix
      %li.nav-item
        = link_to "Reserva de Salas CIC/EST", root_path, class: 'h3', style: 'color:#19367a; background-color:#ffffff;'
  %hr
  %ul.nav.navbar-nav= render 'layouts/navigation_links'

  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %a.navbar-brand{:href => "/reservas/google_calendar"} Home
        %ul.nav.navbar-nav{:style => 'margin-left: 1.5cm'}
          /%li
          /- if can? :manage, @sala
          /  %a{:href => "/salas"}
          /    Salas
          /    %i.fa.fa-university{"aria-hidden" => "true"}
          /%li
          /- if can? :manage, @recurso
          /  %a{:href => "/recursos"} Recursos
          %li
          - if user_signed_in?
            %li
              - if can? :manage, @sala
                %a{:href => "/salas"}
                  Salas
                  %span.glyphicon.glyphicon-list.pull-right{:style => 'margin-top: 0.1cm; margin-left: 0.15cm'}
            %li
              - if can? :manage, @recurso
                %a{:href => "/recursos"}
                  Recursos
                  %span.glyphicon.glyphicon-list.pull-right{:style => 'margin-top: 0.1cm; margin-left: 0.15cm'} 

            %ul.nav.navbar-nav.navbar-right{:style => 'margin-top: 0.375cm; margin-left: 1.5cm'}
              =  current_user.name
              %span.glyphicon.glyphicon-user.pull-right{:style => 'margin-top: 0.1cm; margin-left: 0.15cm'} 
            %li
              %a{:href => "users/"}
                Configurações da conta
                %span.glyphicon.glyphicon-cog.pull-right{:style => 'margin-top: 0.1cm; margin-left: 0.15cm'} 
            %li.divider
            %li
              %a{:href => "/reservas"}
                Minhas Reservas
                %span.glyphicon.glyphicon-list.pull-right{:style => 'margin-top: 0.1cm; margin-left: 0.15cm'} 
            %li.divider
            %li
              %a{:href => "/agendas"}
                Agenda
                %span.glyphicon.glyphicon-calendar.pull-right{:style => 'margin-top: 0.1cm; margin-left: 0.15cm'} 
            %li.divider
            %li
              %a{:href => "/users/edit"}
                Editar Conta 
                %span.glyphicon.glyphicon-pencil.pull-right{:style => 'margin-top: 0.1cm; margin-left: 0.15cm'} 
            %li.divider
            %li
              = link_to destroy_user_session_path, {:method => :delete} do
                Sair
                %span.glyphicon.glyphicon-log-out.pull-right{:style => 'margin-top: 0.1cm; margin-left: 0.15cm'} 
          - else
            - if can? :manage, @sala
              %ul.nav.navbar-nav.navbar-right{:style => 'margin-left: 23cm; margin-top: 0.2cm'}
                = button_to new_user_session_path, {:method => :get, class: 'btn btn-primary btn-primary', style: 'color:#ffffff'} do
                  %span{:class => 'glyphicon glyphicon-user'}
                  Login     
            - else 
              %ul.nav.navbar-nav.navbar-right{:style => 'margin-left: 23cm; margin-top: 0.2cm'}
                = button_to new_user_session_path, {:method => :get, class: 'btn btn-primary btn-primary', style: 'color:#ffffff' } do
                  %span{:class => 'glyphicon glyphicon-user'}
                  Login
            

