-# navigation styled for Bootstrap 3.0
.container
  %nav.navbar.navbar-primary
    = link_to image_tag("logo2.png"), root_path, class: 'navbar-brand', style: 'background-color:#ffffff'
    %ul.nav.navbar-nav.clearfix
      %li.nav-item
        = link_to "Reserva de Salas CIC/EST", root_path, class: 'h3', style: 'color:#19367a; background-color:#ffffff;'
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right  
          = button_to destroy_user_session_path, {:method => :delete, class: 'btn btn-danger'} do
            %span{:class => 'glyphicon glyphicon-off'}
            Sair
      - else
        %ul.nav.navbar-nav.navbar-right  
          = button_to new_user_session_path, {:method => :get, class: 'btn btn-primary btn-primary'} do
            %span{:class => 'glyphicon glyphicon-user'}
            Login
  %hr
  %ul.nav.navbar-nav= render 'layouts/navigation_links'