!!!
%html{:lang => "pt-BR"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Reserva de Salas CIC/EST'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Reserva de Salas CIC/EST'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/navigation'
  %body{:class => "home page"}
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
    %footer#main-footer
      %div#footer-copyright
        %div#footer-copyright-content.clearfix
          = link_to image_tag("logo-footer-retina1-copy.png"), 'http://www.cic.unb.br/', id: 'logo-footer'
          %p#text-address Campus Darcy Ribeiro. Asa Norte, Brasília, DF - 70910-900 | +55 61 3107-3662 | +55 61 3107-3661
          %p#text-copyright Copyright © 2016. All rights reserved
        
          